---
---

// CSS Variables with fallback for older browsers
	$colors: (
		// Body background-color
		background: rgb(241, 241, 241),
		// Button, navigation & theme-color colors
		primary: rgb(16, 108, 200),
		// Semi-transparent version of the theme-color
		primary-light: rgba(25, 118, 210, .2)
	);

	:root {
		--theme-color: #{map-get($colors, primary)};
		@each $name, $color in $colors {
			--#{$name}: #{$color};
		}
	}

	$props: (
		background: $colors,
		color: $colors,
		border-color: $colors
	);

	@mixin v($prop, $var, $important:"") {
		$map: map-get($props, $prop);
		$var-fall: map-get($map, $var);
		$var-output: var(--#{$var});
		#{$prop}: $var-fall unquote($important);
		#{$prop}: $var-output unquote($important);
	}
////////////////////////////////////////////////

* {
	-webkit-tap-highlight-color: transparent;
}

body {
	font-size: 100%;
	margin: 0;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
	@include v(background, background);
	-webkit-touch-callout: none !important;
}

.main-wrap {
	position: absolute;
	top: 134px;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: scroll;
	min-height: calc(100vh - 300px);
	transition: ease .3s transform, ease .35s opacity;
	transform: translate(0, 30px);
	opacity: 0;
}

#minimal {
	.main-wrap {
		top: 0 !important;
		padding-bottom: 60px;
	}

	#links, .main-header, footer {
		display: none;
	}

}

.fadeIn {
	transform: translate(0);
	opacity: 1;
}

/********************************* Navigation *********************************/
nav {
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	@include v(background, primary);

	&:after {
		position: absolute;
		z-index: -1;
		top: 0;
		width: 110%;
		height: 100%;
		margin-left: -5%;
		content: '';
		transition: opacity 500ms;
		opacity: 0;
		box-shadow: 0 5px 6px -3px rgba(0, 0, 0, .4);
	}

	&.n-shadow:after {
		opacity: 1;
	}

	.main-header {
		font-size: 20px;
		height: 30px;
		padding: 20px 87px;
		-webkit-animation: fadein .5s;
		-moz-animation: fadein .5s;
		-ms-animation: fadein .5s;
		-o-animation: fadein .5s;
		animation: fadein .5s;
		color: #fff;
		background: rgba(255, 255, 255, .1);
	}

	#links {
		overflow-x: scroll;
		overflow-y: hidden;
		width: calc(100% - 40px);
		height: 64px;
		padding: 0 20px;
		white-space: nowrap;

		a {
			font-size: 14px;
			font-weight: 500;
			line-height: 64px;
			position: relative;
			display: inline-block;
			float: left;
			padding: 0 20px;
			transition: background 500ms ease;
			text-transform: uppercase;
			color: rgba(255, 255, 255, .8);

			&:hover {
				background: rgba(255, 255, 255, .05);
			}

			&.active:before {
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				height: 2px;
				content: '';
				background-color: #fff;
			}

		}

		&::-webkit-scrollbar {
			display: none;
		}

	}

}

@keyframes fadein {
	from {
		transform: translate(-20px);
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}

@-moz-keyframes fadein {
	from {
		transform: translate(-20px);
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}

@-webkit-keyframes fadein {
	from {
		transform: translate(-20px);
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}

@-ms-keyframes fadein {
	from {
		transform: translate(-20px);
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}

@-o-keyframes fadein {
	from {
		transform: translate(-20px);
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}

#logo-img {
	background: #379df3;
	background: -moz-linear-gradient(-45deg, #40bdff 0%, #1976d2 100%);
	background: -webkit-linear-gradient(-45deg, #40bdff 0%, #1976d2 100%);
	background: linear-gradient(135deg, #40bdff 0%, #1976d2 100%);

	svg {
		fill: rgba(255, 255, 255, .8);
	}

}

#nav #logo-img {
	position: fixed;
	top: 13px;
	left: 25px;
	width: 31px;
	height: 31px;
	padding: 7px;
	background: none;
}

/************************************ Cards ***********************************/
.card {
	overflow: hidden;
	width: 100%;
	margin: .2rem 0 2.3rem 0;
	border-radius: 3px;
	background: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.card-container {
	margin-top: 20px;
	vertical-align: top;
}

.card-header {
	height: 50px;
	padding: 0 5px;

	svg {
		height: calc(100% - 24px);
		margin: 6px;
		padding: 6px;
		border-radius: 100%;
		cursor: pointer;
		transition: background 0.3s ease;
		fill: rgba(0, 0, 0, 0.6);
		&:hover {
			background: rgba(0, 0, 0, 0.05);
		}
	}
}

.card-content {
	padding: 24px;
	transition: opacity .6s ease;

	p {
		margin: 0;
	}

}

.card-title {
	font-size: 24px;
	font-weight: 300;
	line-height: 32px;
	margin-bottom: 8px;
}

.card-action {
	overflow: auto;
	padding: 11px 14px;
	opacity: .99;
	border-top: 1px solid rgba(0, 0, 0, .065);
}

.card-action a, .secondary {
	@include v(color, primary);
	background: none;
	box-shadow: none !important;

	&:hover {
		@include v(background, primary-light);
	}

}

.card-action a.light {
	color: #333447;
}

.card-action button.light:hover {
	color: #000;
}

.horizontal {
	height: 350px;

	.card-stacked {
		display: inline-block;
		width: 70%;
		height: 100%;
	}

	.card-content {
		height: calc(100% - 106px);
	}

	.card-header + .card-content {
		height: calc(100% - 156px);
	}

	.card-aside {
		float: left;
		text-align: center;
	}

	#logo-img {
		display: inline-block;
		width: 30%;
		height: 100%;

		svg {
			width: 40%;
			fill: #29363c;
		}

	}

}

@media (max-width:650px) {
	.horizontal {
		display: table;
		height: auto;

		.card-stacked {
			width: 100%;
		}

		.card-stacked .card-content {
			height: auto;
		}

		#logo-img {
			width: 100%;
			height: auto;
			padding: 25px 0;
			box-shadow: 0 -17px 24px -9px rgba(0, 0, 0, .04) inset;

			svg {
				width: 70px;
				height: 70px;
			}

		}

	}

	.accept #c1 {
		height: 300px;
	}

}

.card-small {
	margin-bottom: 40px;
	padding: 25px 40px;
	transition: background .3s ease;
	border-radius: 2px;
	background: #fff;
}

.settingsHeader {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 10px;
	color: #616161;
}

.settingsHeader * {
	color: #616161;
}

/*********************************** Tables ***********************************/
table {
	width: 100%;
	padding: 0;
	table-layout: fixed;
	border-collapse: collapse;
	text-align: center;
	border: none;
}

table tr {
	border-bottom: 1px solid rgba(0, 0, 0, .065);
}

table tr:nth-child(1) th {
	font-family: 'Roboto Medium';
	font-size: .87rem;
	font-weight: 500;
	padding: 15px;
	color: #888a8e;
}

td {
	font-size: .85em;
	font-weight: 400;
	line-height: 35px;
}

td, th {
	padding: 10px;
}

tr td, tr, .darken-on-hover {
	transition: background .03s ease, color .2s ease;
}

.darken-on-hover:hover {
	background: rgba(0, 0, 0, .1);
}

.darken-on-hover {
	cursor: pointer;
}

.selected {
	background: rgba(0, 0, 0, .044) !important;
}

.selected td, .selected:hover td {
	background: none;
}

#apMAC {
	font-family: Consolas, Courier New, monospace, sans-serif;
	display: inline-block;
	margin-top: 8px;
	padding: 6px;
	background: rgba(0, 0, 0, .05);
}

#apMAC:empty {
	display: none;
}

/******************************* General styles *******************************/
* {
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #333447;
}

:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

.container {
	width: 96%;
	min-height: calc(100% - 170px);
	margin-right: auto;
	margin-left: auto;
}

.main-wrap .container:first-of-type {
	margin-bottom: 20px;
}

.row {
	position: relative;
	width: 100%;
}

.row [class^='col'] {
	float: left;
	min-height: .125rem;
	margin: .5rem 2%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-100 {
	display: inline-block;
	width: 100%;
}

.row::after {
	display: table;
	clear: both;
	content: '';
}

h1 {
	font-size: 24px;
	color: rgba(0, 0, 0, .66);
}

.clear {
	clear: both;
}

.left {
	float: left;
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	float: right !important;
	text-align: right;
}

.no-caps {
	white-space: nowrap;
	text-transform: initial !important;
}

.oh {
	overflow: hidden;
}

.oa {
	overflow: auto;
	padding: 2px 0 8px;
}

.ta-c {
	text-align: center;
}

.no-events, nav.disabled a, .input-container label {
	pointer-events: none;
}

.samddAttrib {
	font-size: 1.2em;
	font-weight: bold;
	display: block;
	margin-top: 12px !important;
	color: #ff7233 !important;
}

.samddAttrib button {
	margin-right: 10px;
	background: #ff4f00 !important;
}

img, nav, td {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
}

.clearfix, .dn {
	display: none;
}

@media (max-width:361px) {
	.clearfix {
		display: block;
		clear: both;
	}

}

.divider {
	height: 2px;
	margin: 0;
	margin: .9rem 2% !important;
	background: rgba(0, 0, 0, .07);
}

.green {
	color: #4caf50 !important;
}

.red {
	color: #e53935 !important;
}

.light {
	opacity: .4;
}

.light-6 {
	font-size: 11px;
	text-transform: uppercase;
	opacity: .6;
}

.light-text {
	font-weight: 400;
	-webkit-margin-before: .4em;
	-webkit-margin-after: .4em;
}

a, .a {
	cursor: pointer;
	text-decoration: none;
	@include v(color, primary);
}

a:focus {
	outline: 0;
}

b {
	color: inherit;
}

.b {
	font-weight: bold;
}

hr {
	border: 1px solid rgba(0, 0, 0, .03);
	-webkit-margin-before: 2em;
	-webkit-margin-after: 2em;
}

hr.small {
	-webkit-margin-before: .5em;
	-webkit-margin-after: 1.3em;
}

::-webkit-input-placeholder {
	color: #c7c7c7;
}

@media (min-width:45em) {
	.col-1 {
		width: 4.33%;
	}

	.col-2 {
		width: 12.66%;
	}

	.col-3 {
		width: 21%;
	}

	.col-4 {
		width: 29.33%;
	}

	.col-5 {
		width: 37.66%;
	}

	.col-6 {
		width: 46%;
	}

	.col-7 {
		width: 54.33%;
	}

	.col-8 {
		width: 62.66%;
	}

	.col-9 {
		width: 71%;
	}

	.col-10 {
		width: 79.33%;
	}

	.col-11 {
		width: 87.66%;
	}

	.col-12 {
		width: 96%;
	}

	.col-100 {
		width: 100%;
	}

	.hidden-sm {
		display: block;
	}

	.invert {
		padding-top: 20px;
	}

	.invert .checkbox {
		float: left !important;
		margin-right: 10px;
		margin-left: 5px;
	}

}

@media (min-width:60em) {
	.container {
		width: 80%;
		max-width: 60rem;
	}

}

/**************************** Buttons & checkboxes ****************************/
.button, button, input[type='submit'] {
	font-size: 14px;
	font-weight: 500;
	line-height: 36px;
	display: inline-block;
	overflow: hidden;
	min-width: 88px;
	height: 36px;
	padding: 0 .6rem;
	cursor: pointer;
	transition: .3s ease;
	transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background .4s ease;
	text-align: center !important;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	letter-spacing: .5px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .87);
	border: none;
	border-radius: 2px;
	outline: 0;
	@include v(background, primary);
}

.button:hover, button:hover, input[type='submit']:hover, .reboot:hover {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26), inset 0 0 0 99999px rgba(0, 0, 0, 0.11);
}

.button:active, button:active, input[type='submit']:active, .reboot:active {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
}

button:disabled, button:disabled:hover {
	background: rgba(0, 0, 0, .1);
	box-shadow: none;
}

input[type='file'] {
	position: absolute;
	z-index: -1;
	overflow: hidden;
	width: .1px;
	height: .1px;
	opacity: 0;
}

.checkboxContainer {
	display: inline-block;
	width: 100%;
	cursor: pointer;
}

.secondary {
	@include v(color, primary);
	background: none;
	box-shadow: none !important;
}

.secondary:hover {
	@include v(background, primary-light);
}

.redBtn {
	background: #f44336;
}

.redBtn:hover {
	background: #ef5350;
}

.clone svg {
	display: inline-block;
	height: 17px;
	margin-right: 8px;
	vertical-align: middle;
	fill: #fff;
}

label {
	font-size: 14px;
}

.input-container {
	position: relative;
}

.animation .input-container {
	transition: opacity .5s ease;
}

.input-container.disabled, .card-content.disabled {
	pointer-events: none;
	opacity: .3;
}

.input-container input {
	box-sizing: border-box;
	margin-bottom: 15px;
	transition: .2s ease-in-out;
	border: 0;
	border-bottom: 2px solid #e0e0e0;
	outline: none;
	background: none;
	box-shadow: none;
}

.input-container input:placeholder-shown {
	border-bottom: 2px solid #e0e0e0 !important;
}

.input-container input:placeholder-shown:focus, .input-container input::-moz-placeholder:focus {
	@include v(border-color, primary, !important);
}

.input-container label {
	font-size: 14px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	box-sizing: border-box;
	cursor: text;
	color: #757575;
	align-items: center;
}

.animation .input-container label {
	transition: .2s ease-in-out;
}

.input-container input, .input-container label {
	font-size: 14px;
	width: 100%;
	height: 34px;
	margin-top: 15px;
}

.input-container input:valid {
	border-bottom: 2px solid #e0e0e0;
}

.input-container input:focus {
	@include v(border-color, primary, !important);
}

.input-container input:invalid {
	border-bottom: 2px solid #f44336;
}

.input-container input:valid + label {
	font-size: .8rem;
	transform: translate(0, -25px);
	pointer-events: none;
	color: #969696 !important;
}

.input-container input:focus + label {
	font-size: .8rem;
	transform: translate(0, -25px);
	pointer-events: none;
	@include v(color, primary, !important);
}

.input-container input:invalid:not(:placeholder-shown) + label {
	font-size: .8rem;
	transform: translate(0, -25px);
	pointer-events: none;
	color: #f44336;
}

#settings .checkbox, #card-wrapper .checkbox {
	float: right;
}

input[type='checkbox'] {
	display: none;
}

input[type='checkbox']:checked + label {
	@include v(border-color, primary);
	@include v(background, primary);
}

input[type='checkbox']:checked + label:after {
	transform: scale(1.3);
}

label.checkbox {
	position: relative;
	z-index: 1;
	display: inline-block;
	box-sizing: border-box;
	width: 18px;
	height: 18px;
	cursor: pointer;
	transition: .2s;
	border: 2px solid #6d6d6d;
	border-radius: 10%;
	background: none;
}

label.checkbox:before {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	display: block;
	width: 200%;
	height: 200%;
	content: '';
	transition: .3s ease;
	transform: translate(-27%, -27%);
	pointer-events: none;
	border-radius: 50%;
}

label.checkbox:after {
	display: block;
	width: 100%;
	height: 100%;
	content: '';
	transition: .1s ease;
	transform: scale(0);
	background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik05IDE2LjE3TDQuODMgMTJsLTEuNDIgMS40MUw5IDE5IDIxIDdsLTEuNDEtMS40MXoiLz4KPC9zdmc+) center center no-repeat;
	background-size: contain;
}

label.checkbox:active:before, .checkboxContainer:active label.checkbox:before {
	width: 300%;
	height: 300%;
	transform: translate(-34%, -34%);
	background: rgba(0, 0, 0, .15);
}

.row.inputCheckbox .checkbox {
	float: left;
	margin-right: 10px;
}

.row.inputCheckbox label:not(.checkbox), #settings label:not(.checkbox), #card-wrapper label:not(.checkbox) {
	line-height: 18px;
}

/*********************************** Footer ***********************************/
footer {
	height: 120px;
	margin-top: 30px;
	background: #2b2b31;
}

footer ul {
	margin: 0 0 32px;
	padding: 0;
	list-style: none;
}

footer li {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	float: left;
	margin-right: 16px;
	margin-bottom: 0;
	letter-spacing: 0;
}

footer a {
	white-space: nowrap;
	color: #9e9e9e;
}

.footer, .sub-section-attribution {
	font-weight: 500;
	display: block;
	height: 32px;
	padding: 16px 40px;
}

.sub-section-attribution {
	font-size: 14px;
	width: calc(100% - 80px);
	height: 20px;
	padding: 18px 40px;
	background: rgba(0, 0, 0, .15);
}

/************************ Notifications & reboot button ***********************/
#notification {
	font-size: 16px;
	font-weight: 300;
	line-height: 35px;
	position: fixed;
	z-index: 1;
	bottom: 0;
	padding: 10px 25px;
	transition: transform .3s ease, opacity .5s ease;
	transform: translate(0, 70px);
	opacity: 0;
	color: #fff;
	background-color: #2b2b31;
}

.show #notification {
	transform: translate(0);
	opacity: 1;
}

@media (min-width:33.75em) {
	.container {
		width: 85%;
	}

}

.reboot {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 10px;
	cursor: pointer;
	transition: box-shadow .3s ease;
	pointer-events: initial;
	@include v(background, primary);
	fill: rgba(255, 255, 255, .9);
}

.reboot-inner {
	transition: box-shadow .3s ease, background .3s ease;
	border-radius: 1000px;
}

.button, button, input[type='submit'] {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.shadow, .reboot-inner, #notification, .card-small {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.reboot-container {
	position: fixed !important;
	z-index: 1;
	right: 20px;
	bottom: 10px;
	overflow: visible !important;
	transition: bottom .3s ease;
	pointer-events: none;
}

.tooltip {
	position: absolute;
	z-index: 1;
	top: 10px;
	right: 120%;
	width: 80px;
	padding: 5px 0;
	transition: opacity .5s ease;
	text-align: center;
	opacity: 0;
	color: #fff;
	border-radius: 2px;
	background-color: #323232;
}

.reboot-container:hover .tooltip {
	opacity: 1;
}

/**************************** Spinner & indicators ****************************/
#spinner-container {
	position: fixed;
	z-index: 99;
	left: calc(50% - 25px);
	overflow: hidden;
	width: 30px;
	height: 30px;
	margin-top: -100px;
	padding: 10px;
	transition: all .5s ease;
	opacity: 0;
	border-radius: 100vw;
	background: #fff;
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .19), 0 6px 13px 0 rgba(0, 0, 0, .24);
}

.spinner {
	display: none;
	transition: ease .3s opacity;
	-webkit-animation: rotator 1.4s linear infinite;
	animation: rotator 1.4s linear infinite;
}

.show-loading {
	margin-top: 155px !important;
	opacity: 1 !important;
}

.show-loading .spinner {
	display: block;
}

#minimal .show-loading {
	margin-top: 15px !important;
}

@-webkit-keyframes rotator {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}

}

@keyframes rotator {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}

}

.path {
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
	animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
	stroke-dasharray: 187;
	stroke-dashoffset: 0;
}

@-webkit-keyframes colors {
	0% {
		stroke: #4285f4;
	}

	25% {
		stroke: #de3e35;
	}

	50% {
		stroke: #f7c223;
	}

	75% {
		stroke: #1b9a59;
	}

	100% {
		stroke: #4285f4;
	}

}

@keyframes colors {
	0% {
		stroke: #4285f4;
	}

	25% {
		stroke: #de3e35;
	}

	50% {
		stroke: #f7c223;
	}

	75% {
		stroke: #1b9a59;
	}

	100% {
		stroke: #4285f4;
	}

}

@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}

	50% {
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
		stroke-dashoffset: 46.75;
	}

	100% {
		-webkit-transform: rotate(450deg);
		transform: rotate(450deg);
		stroke-dashoffset: 187;
	}

}

@keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}

	50% {
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
		stroke-dashoffset: 46.75;
	}

	100% {
		-webkit-transform: rotate(450deg);
		transform: rotate(450deg);
		stroke-dashoffset: 187;
	}

}

.button i {
	font-size: 1.3rem;
	line-height: inherit;
	position: relative;
	float: left;
	height: 100%;
	margin: 0 16px 0 12px;
}

.button svg {
	position: absolute;
	top: 50%;
	bottom: 50%;
	height: 1.3rem;
	transform: translate(-50%, -50%);
	fill: #fff;
}

.failed-save {
	background: #e53935 !important;
}

.success-save {
	background: #4caf50 !important;
}

.success-svg, .failed-svg {
	transition: ease 1s opacity;
	opacity: 0;
	fill: #fff;
	stroke: #fff;
}

.failed-save .spinner, .success-save .spinner {
	opacity: 0;
}

.failed-save .failed-svg, .success-save .success-svg {
	opacity: 1;
}

.failed-save .success-svg, .failed-save .spinner, .success-save .spinner {
	display: none;
}

/***************************** Desktop only styles ****************************/
@media (min-width:520px) {
	body {
		overflow: hidden;
	}

	#notification {
		left: 10px;
		max-width: 100%;
		border-radius: 2px;
	}

	.show #notification {
		transform: translate(0, -15px);
	}

	.row.inputCheckbox .col-6:nth-child(2) {
		margin-top: 26px;
	}

	nav #links {
		overflow-x: initial;
	}

}

@media (min-width:800px) {
	#settings .card-container {
		display: inline-block;
		width: calc(50% - 45px);
	}

	#settings .dual {
		width: calc(100% - 45px);
	}

	.card-container, .card-container {
		margin: 20px;
	}

	.card-small {
		min-height: 380px;
	}

	.card-small.smaller {
		min-height: 300px;
	}

	.samddAttrib {
		display: inline-block;
		margin-top: 5px !important;
		padding-left: 5px;
	}

}

@media (min-width:1000px) {
	.onsmr {
		display: none !important;
	}

}

/************************ Tablet & mobile only styles *************************/
@media (max-width:520px) {
	#notification {
		width: calc(100% - 49px);
	}

	.show .reboot-container {
		bottom: 65px;
	}

	body {
		overflow: visible;
		background: #f1f1f1;
	}

	.network-info {
		display: none;
	}

	nav .main-header {
		display: none;
	}

	.main-wrap {
		position: relative !important;
		top: 65px !important;
		overflow-y: hidden;
	}

	.row.inputCheckbox .col-6:nth-child(2) {
		margin-bottom: 20px;
	}

	.container {
		min-height: calc(100% - 235px);
	}

	.show-loading {
		margin-top: 80px !important;
		opacity: 1 !important;
	}

	.onsmr {
		padding: 0 1.3rem;
	}

}

@media (max-width:1000px) {
	.onlgr {
		display: none !important;
	}

}

/***************************** Mobile only styles *****************************/
@media (max-width:600px) {
	nav #links a {
		font-size: 13px;
		float: none !important;
		padding: 0 13px;
	}

	.samddAttrib {
		font-size: 1em;
	}

	.onlgr2 {
		display: none !important;
	}

}

@media (max-width:539px) {
	table#apscan td:nth-child(4), table#apscan th:nth-child(4) {
		display: none;
	}

}

@media (max-width:450px) {
	table#users td:nth-child(4), table#users th:nth-child(4) {
		display: none !important;
	}

	nav #links a {
		font-size: 12px;
		padding: 0 9px;
	}

}

@media (max-width:400px) {
	nav #links a {
		font-size: 11px;
		padding: 0 6px;
	}

}

@media (max-width:320px) {
	button.button-header-2 {
		margin-bottom: 30px !important;
	}

	div.button-header-2 {
		display: block !important;
		margin-bottom: 15px !important;
	}

}

@media (max-width:260px) {
	button.button-header {
		margin-bottom: 30px !important;
	}

	div.button-header {
		display: block !important;
		margin-bottom: 15px !important;
	}

}

/******************************** Icons & SVGs ********************************/
.WiFi svg {
	width: 35px;
	height: 35px;
	fill: #292929;
}

.WiFi div {
	line-height: 35px;
	display: inline-block;
	height: 35px;
	margin: 0 5px;
}

.WiFi span {
	font-size: 10px;
	line-height: 25px;
	display: block;
	float: left;
	width: 25px;
	height: 25px;
	margin-top: 5px;
	@include v(color, primary);
	border-radius: 1000px;
}

.WiFi span:nth-child(1) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border-top-left-radius: 0;
	background: rgba(0, 0, 0, .1);
	box-shadow: inset 0 0 15px rgba(0, 0, 0, .15);
	-webkit-filter: grayscale(45%);
	filter: grayscale(45%);
}

.pointUp span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.WiFi span:nth-child(2) {
	font-weight: 300;
	position: absolute;
	opacity: .5;
	-webkit-filter: invert(100%) grayscale(1);
	filter: invert(100%) grayscale(1);
}

.edit {
	display: inline-block;
	float: right;
	width: 24px;
	height: 24px;
	margin-left: 7px;
	padding: 10px;
	cursor: pointer;
	transition: background .5s ease;
	color: #757575;
	border-radius: 1000px;
}

.edit:hover {
	background: rgba(0, 0, 0, .1);
}

.edit:active {
	background: rgba(0, 0, 0, .25);
}

.edit svg {
	fill: #757575;
}

.edit.add, .edit.delete {
	font-size: 29px;
	line-height: 26px;
}

.edit.enc {
	pointer-events: none;
	background: none !important;
}

/******************************** Waves library *******************************/
.waves-effect {
	position: relative;
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.waves-effect .waves-ripple {
	position: absolute;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
	-webkit-transform: scale(0) translate(0, 0);
	-moz-transform: scale(0) translate(0, 0);
	-ms-transform: scale(0) translate(0, 0);
	-o-transform: scale(0) translate(0, 0);
	transform: scale(0) translate(0, 0);
	pointer-events: none;
	opacity: 0;
	border-radius: 50%;
	background: rgba(0, 0, 0, .2);
}

#logo .waves-effect {
	display: block !important;
}

.waves-effect.waves-light .waves-ripple {
	background: rgba(255, 255, 255, .4);
}

.waves-effect.waves-dark .waves-ripple {
	background: rgba(0, 0, 0, .2);
}

.waves-effect.waves-color .waves-ripple {
	@include v(background, primary-light);
}

.waves-effect.waves-light-color .waves-ripple {
	background: rgba(198, 227, 255, .3);
}

.waves-effect.waves-classic .waves-ripple {
	background: rgba(0, 0, 0, .2);
}

.waves-effect.waves-classic.waves-light .waves-ripple {
	background: rgba(255, 255, 255, .4);
}

.waves-notransition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

.waves-button, .waves-circle {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.waves-button, .waves-button:hover, .waves-button:visited, .waves-button-input {
	vertical-align: middle;
	white-space: nowrap;
}

.waves-button-input {
	margin: 0;
	padding: .85em 1.1em;
}

.waves-input-wrapper {
	vertical-align: bottom;
	border-radius: .2em;
}

.waves-input-wrapper.waves-button {
	padding: 0;
}

.waves-input-wrapper .waves-button-input {
	position: relative;
	z-index: 1;
	top: 0;
	left: 0;
}

.waves-circle {
	line-height: 2.5em;
	width: 2.5em;
	height: 2.5em;
	text-align: center;
	border-radius: 50%;
}

a.waves-effect .waves-ripple {
	z-index: -1;
}

/********************************* Setup cards ********************************/
#card-wrapper {
	width: 300%;
}

#c3:not(.away) {
	display: none;
}

#c1 svg {
	fill: #29363c;
}

#c1, #c2, #c3 {
	display: inline-block;
	width: 33.33333%;
	transition: transform .6s ease, opacity .2s ease;
	vertical-align: top;
}

#c2, #c3 {
	opacity: 0;
}

.accept #c1 {
	transform: translate(-100%);
	opacity: 0;
}

.accept #c2 {
	transform: translate(-100%);
	opacity: 1;
}

.s-s {
	background: #499fe4;
}

.s-s .row * {
	color: #e1f1fd;
}

.s-s #c1 {
	display: none;
}

.s-s #c2 {
	opacity: 0;
}

.s-s #c3 {
	transform: translate(-100%);
	opacity: 1;
}
